*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

/* CSS HEADER      ###DA CENTRARE IMMAGINE E TESTO */
header{
    background-color: white;
    
}
#title{
    display: inline-block;
}
#logo{
    margin-left: 2%;
    
}


/* CSS MAIN */
main{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    padding: 3%;
    border-radius: 5px;

}


/* menu */
.menu{
    padding: 1%;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 10px;   
}

/* css titoli */
.titolo{
    font-size: 20px;
}
.titolo::before{
    content: "\25BC";
    font-size: small;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* css spaziatura fra i contenuti */
#today,
#upcoming,
#new-task{
    margin-top: 7%;
    margin-bottom: 7%;
}

#today> div{
    margin-top: 1%;
    margin-bottom: 1%;
}
#upcoming> div{
    margin-top: 1%;
    margin-bottom: 1%;
}
#new-task> div{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* check and cross sui contenuti */



/* Tipologia di contenuto editoriale, recruiting, ecc..  */