*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

/* CSS HEADER */
header{
    background-color: white;
    
}
#logo-name{
    display: inline-block;
    vertical-align: middle;
}
#logo{
    padding: 10px;
    vertical-align: middle;
}

/* CSS MAIN */

/* selection menu*/
main{
    background-color: lightgray;
    
}
#menu{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 8px;
}
.menu-selection{
    width: 100px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}
.menu-active{
    background-color: rgb(45, 83, 218);
}
.menu-disabled{
    background-color: lightgray;
}


/* css content */
.content{
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}

.content>div{
    margin: 20px;
    font-size: 30px;
}

.list-title{
    font-size: 40px;
}
.list-title::before{
    content: "\25BC";
}


/* Cross and check */
.check::before{
    content: "\2713";
    margin-right: 10px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}
.cross::before{
    content: "\2716";
    margin-right: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

/* categories */
.editorial::after{
    content: "Editorial";
    background-color: rgb(53, 53, 240);
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.goals::after{
    content: "Goals";
    background-color: rgb(124, 40, 135);
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.recruiting::after{
    content: "Recruiting";
    background-color: rgb(53, 248, 121);
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.mobile::after{
    content: "Mobile";
    background-color: rgb(238, 211, 55);
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}
.sales::after{
    content: "Sales";
    background-color: rgb(93, 224, 54);
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}